# fly.toml app configuration file generated for kanban-marko-proud-silence-8849 on 2025-11-05T16:37:08-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'kanban-marko-proud-silence-8849'
primary_region = 'sjc'

[build]

[[mounts]]
  source = 'kanban_data'
  destination = '/data'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
